{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap5.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <link rel="icon" href="{% static 'images/ThumkiIcon.jpg' %}" type="image/gif" sizes="16x16">
</head>
<body>
    <div>
        <main>
            <div class='col-xs-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4'>
                    <form method='POST'  autocomplete="on" class='shadow-sm'>
                        {% csrf_token %}
                        <div class='form-container'>
                            <div class="mb-3 form-check">
                                <label for='username' class="form-label">Username</label>
                                <input type='text' class="form-control" name='username' id='username'>
                            </div>

                            <div class="mb-3 form-check">
                                <label for='password' class="form-label">Password</label>
                                <input type='password' class="form-control" name='password' id='password'>
                            </div>

                            
                            
                            <div class="mb-3 form-check">
                                <input type='submit' name='register' value='login' class='form-control btn' id='register'>
                            </div>

                            



                            <div class="mb-3 form-check">
                                <ul class=' message'>
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }} list-group-item"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </form>
                    
                </div>
        </main>
    </div>
</body>
</html>