{% extends 'base.html' %}
{% load static %}
{% block head1 %}
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
{% endblock %}
{% block content %}
    <div class='container'>
        <main>
            <div class='row'>
                <div class='col-xs-12'>
                    <h1 id='heading1'>Create account</h1>
                </div>
                <hr>
                <div class='col-xs-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6'>
                    <form method='POST'  autocomplete="on" class='shadow-sm'>
                        {% csrf_token %}
                        <div class='form-container'>
                            <div class="mb-3 form-check" >
                                <label for='username' class="form-label">Username</label>
                                <input type='text' class="form-control" name='username' id='username'>
                            </div>

                            <div class="mb-3 form-check">
                                <label for='first_name' class="form-label">First name</label>
                                <input type='text' class="form-control" name='first_name' id='first_name'>
                            </div>

                            <div class="mb-3 form-check">
                                <label for='last_name' class="form-label">Last name</label>
                                <input type='text' class="form-control" name='last_name' id='last_name'>
                            </div>

                            <div class="mb-3 form-check">
                                <label for='email' class="form-label">Email</label>
                                <input type='email' class="form-control" name='email' id='email'>
                            </div>

                            <div class="mb-3 form-check">
                                <label for='password1' class="form-label">Password</label>
                                <input type='password' class="form-control" name='password1' id='password1'>
                            </div>

                            <div class="mb-3 form-check">
                                <label for='password2' class="form-label">Password confirmation</label>
                                <input type='password' class="form-control" name='password2' id='password2'>
                            </div>

                            <div class="mb3 form-check">
                                <input  type="checkbox" id="subscribe" name="subscribe">
                                <label class="form-check-label" for="subscribe">
                                Subscribe to our newsletter?
                                </label>
                            </div>
                            
                            <div class="mb-3 form-check">
                                <input type='submit' name='register' value='Register' class='form-control btn' id='register'>
                            </div>

                            <div class="mb-3 form-check">
                                <p class='text-center'>
                                Returning customer? <a href="{% url 'login' %}" class='red-anchor-tag'>login</a>
                                </p>
                            </div>



                            <div class="mb-3 form-check">
                                <ul class=' message'>
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }} list-group-item"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </main>
    </div>

{% endblock %}
